<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoic3dpZnQtY29sbGVjdGlvbnMiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlt7
		InVybFN0cmluZyI6Imh0dHBzOlwvXC9naXRodWIuY29tXC9hcHBsZVwvc3dp
		ZnQtY29sbGVjdGlvbnMifV19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1
		aXJlbWVudCI6eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjEuMS40IiwidXBw
		ZXJCb3VuZCI6IjIuMC4wIn1dfX1dfV0sImRpc3BsYXlOYW1lIjoiVGVhIFRp
		bWUiLCJwYWNrYWdlS2luZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3si
		b3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIx
		Ny41In1dLCJwcm9kdWN0cyI6W3sibmFtZSI6IlRlYSBUaW1lIiwic2V0dGlu
		Z3MiOlt7ImRpc3BsYXlWZXJzaW9uIjpbIjEuMCJdfSx7ImJ1bmRsZVZlcnNp
		b24iOlsiMSJdfSx7ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7InBy
		ZXNldENvbG9yIjp7InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoicHVycGxl
		In19fSwiYXBwSWNvbiI6eyJwbGFjZWhvbGRlciI6eyJpY29uIjp7InJhd1Zh
		bHVlIjoiYm93bCJ9fX0sImNhcGFiaWxpdGllcyI6W3sicHVycG9zZSI6Im1p
		Y3JvcGhvbmUiLCJwdXJwb3NlU3RyaW5nIjoiVGVhIFRpbWUgdXNlcyBtaWNy
		b3Bob25lIHRvIGxpc3RlbiBmb3Igd2hpc3RsaW5nIHRlYSBrZXR0bGVzIn1d
		LCJzdXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJz
		dXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7
		fX0seyJsYW5kc2NhcGVSaWdodCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319
		LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7ImNvbmRpdGlvbiI6eyJkZXZpY2VG
		YW1pbGllcyI6WyJwYWQiXX19fV19XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVs
		ZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51bGx9fV0sInRhcmdldE1hcCI6
		eyJBcHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIkJp
		dENvbGxlY3Rpb25zIiwic3dpZnQtY29sbGVjdGlvbnMiLG51bGwsbnVsbF19
		LHsicHJvZHVjdCI6WyJDb2xsZWN0aW9ucyIsInN3aWZ0LWNvbGxlY3Rpb25z
		IixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiRGVxdWVNb2R1bGUiLCJzd2lm
		dC1jb2xsZWN0aW9ucyIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIkhhc2hU
		cmVlQ29sbGVjdGlvbnMiLCJzd2lmdC1jb2xsZWN0aW9ucyIsbnVsbCxudWxs
		XX0seyJwcm9kdWN0IjpbIkhlYXBNb2R1bGUiLCJzd2lmdC1jb2xsZWN0aW9u
		cyIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIk9yZGVyZWRDb2xsZWN0aW9u
		cyIsInN3aWZ0LWNvbGxlY3Rpb25zIixudWxsLG51bGxdfSx7InByb2R1Y3Qi
		OlsiX1JvcGVNb2R1bGUiLCJzd2lmdC1jb2xsZWN0aW9ucyIsbnVsbCxudWxs
		XX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVsZSIsInBhY2thZ2VB
		Y2Nlc3MiOnRydWUsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbeyJwYXRoIjoi
		UmVzb3VyY2VzIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19XSwic2V0dGluZ3Mi
		Olt7ImtpbmQiOnsiZW5hYmxlVXBjb21pbmdGZWF0dXJlIjp7Il8wIjoiQmFy
		ZVNsYXNoUmVnZXhMaXRlcmFscyJ9fSwidG9vbCI6InN3aWZ0In1dLCJ0eXBl
		IjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVzIjpb
		eyJwcm9kdWN0IjpbIkJpdENvbGxlY3Rpb25zIiwic3dpZnQtY29sbGVjdGlv
		bnMiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJDb2xsZWN0aW9ucyIsInN3
		aWZ0LWNvbGxlY3Rpb25zIixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiRGVx
		dWVNb2R1bGUiLCJzd2lmdC1jb2xsZWN0aW9ucyIsbnVsbCxudWxsXX0seyJw
		cm9kdWN0IjpbIkhhc2hUcmVlQ29sbGVjdGlvbnMiLCJzd2lmdC1jb2xsZWN0
		aW9ucyIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIkhlYXBNb2R1bGUiLCJz
		d2lmdC1jb2xsZWN0aW9ucyIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIk9y
		ZGVyZWRDb2xsZWN0aW9ucyIsInN3aWZ0LWNvbGxlY3Rpb25zIixudWxsLG51
		bGxdfSx7InByb2R1Y3QiOlsiX1JvcGVNb2R1bGUiLCJzd2lmdC1jb2xsZWN0
		aW9ucyIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1v
		ZHVsZSIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBhdGgiOiIuIiwicmVzb3Vy
		Y2VzIjpbeyJwYXRoIjoiUmVzb3VyY2VzIiwicnVsZSI6eyJwcm9jZXNzIjp7
		fX19XSwic2V0dGluZ3MiOlt7ImtpbmQiOnsiZW5hYmxlVXBjb21pbmdGZWF0
		dXJlIjp7Il8wIjoiQmFyZVNsYXNoUmVnZXhMaXRlcmFscyJ9fSwidG9vbCI6
		InN3aWZ0In1dLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9XSwidG9vbHNWZXJzaW9u
		Ijp7Il92ZXJzaW9uIjoiNS45LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		fjvn9CTNl/GHaiKHt2dozPnhQkiwCdxahbgG0dMDUGw=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.10.0-dev</string>
	</dict>
</dict>
</plist>
